#cloud-config

---
coreos:
  etcd2:
    discovery: https://discovery.etcd.io/yadayadayada
    advertise-client-urls: http://$public_ipv4:2379
    initial-advertise-peer-urls: http://$public_ipv4:2380
    listen-client-urls: http://0.0.0.0:2379,http://0.0.0.0:4001
    listen-peer-urls: http://$public_ipv4:2380,http://$public_ipv4:7001
  units:
  - name: etcd2.service
    command: start
  - name: docker.service
    command: start
    drop-ins:
    - name: custom.conf
      content: |
        [Service]
        Environment="DOCKER_OPTS=-H=0.0.0.0:2376 -H unix:///var/run/docker.sock --cluster-advertise eth1:2376 --cluster-store etcd://127.0.0.1:2379"
  - name: swarm-agent.service
    enable: true
    command: start
    content: |
      [Unit]
      Description=Docker Swarm agent
      After=docker.service
      Requires=docker.service

      [Service]
      TimeoutStartSec=0
      ExecStartPre=-/usr/bin/docker kill swarm-agent
      ExecStartPre=-/usr/bin/docker rm swarm-agent
      ExecStartPre=/usr/bin/docker pull swarm:latest
      ExecStart=/usr/bin/docker run -d --name swarm-agent --net=host swarm:latest join --addr=$public_ipv4:2376 etcd://127.0.0.1:2379

      [Install]
      WantedBy=multi-user.target
  - name: swarm-manager.service
    enable: true
    command: start
    content: |
      [Unit]
      Description=Docker Swarm manager
      After=swarm-agent.service
      Requires=swarm-agent.service

      [Service]
      TimeoutStartSec=0
      ExecStartPre=-/usr/bin/docker kill swarm-manager
      ExecStartPre=-/usr/bin/docker rm swarm-manager
      ExecStartPre=/usr/bin/docker pull swarm:latest
      ExecStart=/usr/bin/docker run -d --name swarm-manager --net=host swarm:latest manage etcd://127.0.0.1:2379

      [Install]
      WantedBy=multi-user.target
